body{
    /* background:#cdcdcd url(../img/complex_meitu_1.png) repeat-x; */
    /* background-image: -webkit-canvas(identifier); */
    /* background:#fff repeat-x; /\*#f7f8fa*\/ */
    height:100%;
    width:100%;
    /* text-align:center; */
}
.bgimg {
    background-image: url('./quoteBgSpacer.png');
}

div#header{
    font-family: PingFangSC-Regular, 'Helvetica Neue', Helvetica, Tahoma, Arial, STXihei, “华文细黑”, Heiti, “黑体”, “Microsoft YaHei”, “微软雅黑”, SimSun, “宋体”, sans-serif;
    /* height:150px; */
    width:60%;

    /* background:#03549a center no-repeat; */
    
    text-align:center;
    margin:0 auto;
    /* margin-bottom: 2px; */
    border-bottom: 1.2px solid #e7eaf1;
    
}

div#header a h1{
    color:black;

    text-decoration:none;
}
div#header a {
    color:black;

    font-size:32px;
    
    /* margin-left:40%; */
        
    /* font-weight:bold; */
    text-decoration:none;
}
div#header h1{

    /* font-family:Courier New,Arial, Helvetica, sans-serif; */
    font-size:29px;
}
div#header p{
    font-family:PingFang SC,Helvetica, sans-serif;
    font-size:15px;
}

div#header q{
    font-family:PingFang SC,Helvetica, sans-serif;
    font-size:14px;
}

div#content{
    width:60%;
    /* height:27px; */
    /* height:20px; */
    font-family: Helvetica, Tahoma, Arial, STXihei, “华文细黑”, Heiti, “黑体”, “Microsoft YaHei”, “微软雅黑”, SimSun, “宋体”, sans-serif;
    /* font-size:32px; */
    /* font-family:PingFang SC,Helvetica, sans-serif; */
    /* margin-top:35px; */
    /* margin-left:210px; */
    margin:20px auto;
    /* margin-left:40%; */
    text-align:center;
}
div#content li{
    /* font-size:100px; */
    /* color:blue; */
    text-decoration:none;
    /* margin-left:40%; */
    /* margin:0 auto; */
    /* margin-left:40%; */
    text-align:center;
    /* float:cell; */
    /* list-style-type:none;  ssssssssssssss */
    display:inline;
}

div#content li a h1{
    color:#f5797d;
    text-decoration:none;
}
div#content li a{
    font-size:32px;
    text-decoration:none;
    margin:20px auto;
    /* margin-left:40%; */
    color:black;
    text-align:center;
    font-weight:bold;

}


div#intro{
    border-right:2px solid #e7eaf1;
    margin-right:540px;
    margin-left:20px;
    height:40%;
}

div#intro img{
    height:auto;
    width:120px;

}

div#footer{
    font-size:12px;
    /* border-top: 1px solid #e7eaf1; */
    width:20%;
    text-align:center;
    margin:30px auto;
    color:#8590a6;
}

div#footer img{
    width:50px;
    height:12px;
    margin:-1px auto;
}
div#archive{
    margin:0px auto;
}
