body{
    /* background:#cdcdcd url(../img/complex_meitu_1.png) repeat-x; */
    /* background-image: -webkit-canvas(identifier); */
    /* background:#fff repeat-x; /\*#f7f8fa*\/ */
    height:100%;
    width:100%;
    /* text-align:center; */
}

div#header{
    /* height:150px; */
    /* width:80px; */

    /* background:#03549a center no-repeat; */
    border-bottom: 2px solid #e7eaf1;
    text-align:center;
}

div#header h1{
    font-family:PingFangSC-Regular,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size:29px;
}
div#header p{
    font-family:PingFangSC-Regular, 'Helvetica Neue',Helvetica, sans-serif;
    font-size:15px;
}
